# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
MonoCalib/build/
NVMExtractor/build/
StereoTest/build/
VidExtract/build/
Hartley/build/
MaaraX/build/
SemiStereo/build/
Toggle/build/
ImageShaper/build/

# Data Files
VidExtract/Resources/Input/Calibration.mp4
VidExtract/Resources/Input/scene.mp4
ImageShaper/Resources/Input/

# Configuration Files
VidExtract/.vscode/launch.json
NVMExtractor/Resources/Input/Model.nvm
SemiStereo/Resources/Input/

